* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: beige;
  color: #333;
  line-height: 1.6;
}


header {
  background: pink;
  color: black;
  padding: 15px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  justify-conten: space-between;
}

nav a:hover {
  text-decoration: underline;
}


.introduction{
  text-align: center;
  padding: 40px 20px;
}

.roles {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}


#aboutme{
  background: lightpink;
  padding: 40px 20px;
  text-align: center;
}

#projects {
  padding: 40px 20px;
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-card {
  background: lightpink;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card h4 {
  margin-bottom: 10px;
}

button {
  background: purple;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: green;
}

footer {
  background: pink;
  color: black;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}


